<h1 class="w3-tangerine">StaticPages#home</h1>

<%#= render plain: "OK" %> <!-- render this as plain text without using current layout -->


<p class="w3-xxxlarge w3-tangerine">Making the Web Beautiful!</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
