<div class="w3-bar w3-light-green">
  <a href="/" class="w3-bar-item w3-button w3-mobile">Home</a>
  <a href="/about" class="w3-bar-item w3-button w3-mobile">About</a>
  <a href="/contact" class="w3-bar-item w3-button w3-mobile">Contact</a>
  <a href="#" class="w3-bar-item w3-button w3-mobile">All to play for!</a>
  
</div>